################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructures_And_Algorithms/.vs/DataStructures_And_Algorithms/v15
